@import "src/main";
@import "elr-scss-reset/src/main";

@include elr-reset;

.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.main-heading {
  font-size: 36px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.subheading {
  font-size: 16px;
  color: #666;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.demo-content {
  position: relative;
  padding: 20px 0;
}

img {
  display: block;
  max-width: 1100px;
}

.flex-image {
  @include elr-flex-image;
}

.circle-image {
  @include elr-circle-image;
  margin: 20px;
}

.smaller-circle-image {
  @include elr-circle-image(
    $config: (
      width: 140px,
    )
  );
  margin: 20px;
}

.large-circle-image {
  @include elr-circle-image(
    $config: (
      width: 500px,
    )
  );
  margin: 20px;
}

.rounded-image-5px {
  @include elr-rounded-image;
  margin: 20px;
}

.rounded-image-10px {
  @include elr-rounded-image(
    $config: (
      border-radius: 10px,
    )
  );
  margin: 20px;
}

.image-overlay {
  @include elr-image-overlay;
}

.image-square {
  @include elr-constrained-image(
    $config: (
      width: 400px,
      height: 300px,
    )
  );
}
